<!DOCTYPE html>
<html lang="en" ng-app="leaderboardModule">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="/">

    <title>InterClã - Leaderboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../../../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../css/creative.css" rel="stylesheet">

    <link rel="stylesheet" href="../../../css/css-loader.css">
    <link rel="stylesheet" href="../../../css/loader-bouncing.css">

    <link rel="stylesheet" href="../../../intercla/3/leaderboard/leaderboard.css">

</head>

<body id="page-top" class="bg-primary" ng-controller="leaderboardCtrl" ng-cloak>

    <div class="loader loader-bouncing is-active" ng-show="carregando"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="../">InterClã</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ng-click="toggleCategoria(0)" href="">Iniciante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ng-click="toggleCategoria(1)" href="">Scale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ng-click="toggleCategoria(2)" href="">RX</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="bg-secondary" style="padding: 4rem 0 1rem 0 !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <h1 class="text-white">InterClã 3º Edição</h1>
                    <h2 class="section-heading text-white">{{nomes[categoria]}}</h2>
                </div>
            </div>
            <!-- Nav pills -->
            <div class="row justify-content-center">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" style="cursor: pointer;" data-toggle="pill" data-target="#masculino">Masculino</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" data-toggle="pill" data-target="#feminino">Feminino</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="row mt-3 justify-content-center d-sm-none">
            <span class="badge badge-secondary">
                <i class="fa fa-rotate-right" aria-hidden="true"></i>
                Gire a tela para ver os resultados dos WODs
            </span>
        </div>

        <!-- MASCULINO -->
        <div class="tab-pane active" id="masculino">
            <section class="table-leaderboard">
                <div class="table-responsive">
                    <table class="table table-hover table-sm text-center table-style">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                </th>
                                <th>Competidor</th>
                                <th class="d-none d-sm-table-cell">WOD 1</th>
                                <th class="d-none d-sm-table-cell">WOD 2</th>
                                <th class="d-none d-sm-table-cell">WOD 3</th>
                                <th class="d-none d-sm-table-cell">WOD 4</th>
                                <th ng-show="categoria != 0" class="d-none d-sm-table-cell">WOD 5</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="atleta in leaderboard.masc | orderBy:['score', orderByComDesempate, 'nome'] track by $index">
                                <td class="pontos">{{$index + 1}}</td>
                                <td align="center" class="atleta">
                                    <span>
                                        <b>{{atleta.nome}}</b>
                                    </span>
                                    <span style="font-size: small;">{{atleta.box}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod1.pos == 1}">
                                        <b>{{atleta.wod1.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod1.resultado}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod2.pos == 1}">
                                        <b>{{atleta.wod2.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod2.resultado}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod3.pos == 1}">
                                        <b>{{atleta.wod3.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod3.resultado}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod4.pos == 1}">
                                        <b>{{atleta.wod4.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod4.resultado}}</span>
                                </td>
                                <td ng-show="categoria != 0" class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : competidor.wod5.pos == 1}">
                                        <b>{{atleta.wod5.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod5.resultado}}</span>
                                </td>
                                <td class="pontos">{{atleta.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <!-- FEMININO -->
        <div class="tab-pane fade" id="feminino">
            <section class="table-leaderboard">
                <div class="table-responsive">
                    <table class="table table-hover table-sm text-center table-style">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                </th>
                                <th>Competidor</th>
                                <th class="d-none d-sm-table-cell">WOD 1</th>
                                <th class="d-none d-sm-table-cell">WOD 2</th>
                                <th class="d-none d-sm-table-cell">WOD 3</th>
                                <th class="d-none d-sm-table-cell">WOD 4</th>
                                <th ng-show="categoria != 0" class="d-none d-sm-table-cell">WOD 5</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="atleta in leaderboard.fem | orderBy:['score', orderByComDesempate, 'nome'] track by $index">
                                <td class="pontos">{{$index + 1}}</td>
                                <td align="center" class="atleta">
                                    <span>
                                        <b>{{atleta.nome}}</b>
                                    </span>
                                    <span style="font-size: small;">{{atleta.box}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod1.pos == 1}">
                                        <b>{{atleta.wod1.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod1.resultado}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod2.pos == 1}">
                                        <b>{{atleta.wod2.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod2.resultado}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod3.pos == 1}">
                                        <b>{{atleta.wod3.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod3.resultado}}</span>
                                </td>
                                <td class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : atleta.wod4.pos == 1}">
                                        <b>{{atleta.wod4.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod4.resultado}}</span>
                                </td>
                                <td ng-show="categoria != 0" class="pontos d-none d-sm-table-cell">
                                    <span ng-class="{'gold' : competidor.wod5.pos == 1}">
                                        <b>{{atleta.wod5.pos}} pts</b>
                                    </span>
                                    <span>{{atleta.wod5.resultado}}</span>
                                </td>
                                <td class="pontos">{{atleta.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../../../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../../../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <script src="../../../js/creative.js"></script>

    <script src="../../../intercla/5/leaderboard/leaderboard.js"></script>

</body>

</html>