.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #4894e1;
  background-color: #fff;
}

.nav-pills a {
  color: #fff;
}

.gold {
  color: gold;
}

.badge-primary {
  color: #fff;
  background-color: #4895e1;
}

td.edit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2); /*rgba(204, 204, 204, 0.4);*/
}

.center-modal {
  position: fixed;
  top: 20%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  height: 80%;
  margin-left: -10%;
}